.absolute {
  &__backgroundWindowGoal {
    display: none;
  }
  &__backgroundWindowGoal--open {
    display: inline;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 998;
    top: 0;
  }
  &__windowGoal {
    display: none;
  }
  &__windowGoal--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35vh;
    left: 10vw;
    background: #ffffff;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    z-index: 999;
  }
  &__label {
    padding: 6% 6% 8% 6%;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  &__buttons {
    margin-right: 4%;
    align-self: flex-end;
  }
  &__cancel {
    border: none;
    background-color: #ffffff;
    outline: none;
  }
  &__ok {
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #0075ff;
  }
  &__inputRange {
    width: 70vw;
    align-self: center;
    margin: 17% 0;
  }
}

.absolute2 {
  &__windowGlass {
    display: none;
  }
  &__windowGlass--open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35vh;
    left: 10vw;
    background: #ffffff;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    z-index: 999;
  }
  &__buttons {
    margin-right: 4%;
    align-self: flex-end;
  }
  &__cancel {
    border: none;
    background-color: #ffffff;
    outline: none;
  }
  &__ok {
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #0075ff;
  }
}

.dailygoal {
  background-color: #e6eff2;
  border: none;
  color: #113a5a;
  font-weight: 500;
  margin: 10% 20%;
}
