.app {
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    margin: 0 0 31px;
  }
}

.appalert {
  background: url(/src/assets/img/backalert.png);
  display: flex;
  justify-content: flex-end;
  width: 375px;
  height: 76px;
  opacity: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__alert {
    text-align: end;
    font-weight: 200;
    font-size: 27px;
    padding: 6px 20px 6px 30px;
    font-variant: small-caps;
    margin: 0;
  }
  &__alert--show {
    opacity: 1;
  }

}
