.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 216px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 31px auto;
  border: none;
}

.button:hover {
  background: #51fd02;

}

.button-remove {
  margin: auto;
  margin-bottom: 50px;
  display: block;
  background: none;
  border: none;
}

.button-remove:hover {
  background: #fd0202;
}
