.buttons {
  display: flex;
  flex-direction: column;
  display: none;
}

.button {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background: none;
}


.button-remove {
  background: none;
  border: none;
}



