.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-top: 1px solid #764248;
    margin-bottom: 25px;
    &__button {
        background: none;
        border: none;
    }
    &__statistics {
    }
    &__info {
    }
    &__settings {
    }
}