.glass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  &__counter {
    display: none;
  }
  &__hand {
    flex-direction: row-reverse;
  }
}

.svg {
  &__opacity {
    opacity: 0;
  }
}
