.glass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  &__counter {
    position: absolute;
    font-weight: 500;
    font-size: 112px;
    color: #000000;
    margin-top: 50px;
  }
}
