.header {
  background: #113a5a;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    color: #e6eff2;
    margin: 0;
    font-size: 40px;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
}
