.info {
  display: none;
  &--show {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #e6eff2;
  }
  &__x {
    position: absolute;
    top: 16px;
    right: 20px;
  }
  &__text {
    margin: 25px 0;
    background: white;
    color: black;
    padding: 15px;
    text-align: center;
  }
  &__div {
    background: #113a5a;
  }
}

.infoSection {
  margin: 60px 20px;
  &__description {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
  }
  &__icon {
    display: block;
    margin: auto;
  }
}
