.nav {
  background: #e6eff2;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #c1c8cd;
  z-index: 999;
  padding: 12px 10px;
  &__button {
    background: none;
    border: none;
    width: 100%;
    outline: none;
    display: flex;
  }
  &__div {
    width: 100%;
  }
  &__text {
    margin: 0;
    color: #113a5a;
    display: inline;
    font-weight: 300;
    padding-left: 5px;
  }
  &__homeText {
    margin: 0;
    display: inline;
    font-weight: 300;
    padding-left: 5px;
  }
  &__statistics {
  }
  &__settings {
  }
}


.statisticsSvg--js {
  opacity: 0.4;
}

.settingsSvg--js {
  opacity: 0.4;
}