.settings {
  display: none;
  &--show {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #E6EFF2;
    z-index: 997;
  }
  &__header {
    background: #113A5A;
    margin-bottom: 20px;
  }
  &__div {
    width: 50%;
    height: 50px;
    padding-top: 10px;
    text-align: center;
  }
  &__label {
    width: 50%;
    height: 50px;
    border-left: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  &__span {
    color: #E6EFF2;
    font-weight: 500;
  }
  &__left {
    color: #E6EFF2;
    font-weight: 500;
    padding: 5px 20px 0 0;
  }
  &__right {
    color: #E6EFF2;
    font-weight: 500;
    padding: 5px 0 0 20px;
  }
}

.settingsform {
  margin: 15px 20px;
  background: #113A5A;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

  &__text {
    width: 50%;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    color: #E6EFF2;
    font-weight: 500;
  }
  &__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #113A5A;
    color: #E6EFF2;
    border-radius: 5px;
    width: 100px;
    font-weight: 500;
    font-size: 18px;
    padding: 12px;
    border: none;
    margin: auto;
    margin-top: 20px;
  }
  &__select {
    width: 50%;
    height: 50px;
    padding-top: 20px;
    text-align: center;
    border-left: 1px solid #ffffff;
  }
}

.dailygoal {
  background-color: #113A5A;
  border: none;
  color: #E6EFF2;
  font-weight: 500;
}