@import "~normalize.css";
@import "modules/app.scss";
@import "modules/button.scss";
@import "modules/glass.scss";
@import "modules/header.scss";
@import "modules/nav.scss";
@import "modules/info.scss";
@import "modules/statistics.scss";
@import "modules/settings.scss";
@import "modules/statusPanel.scss";
@import "modules/switch.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


body {
  background: #E6EFF2;
  color: #113A5A;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  height: 80vh;
  margin-top: 15vh;
}


.section {
  &__title {
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    padding: 18px;
    color: #E6EFF2;
  }
}
